<form>
    <div container-fluid>
        <div class="row">
            <div class="col-sm-6">
                <img src="/public/assets/baixa.png" />
            </div>
            <div class="col-sm-6">
                <h2>Plano de Marketing</h2>
                <a href="<%- root %>/pergunta17" class="btn btn-primary button button-primary button-neutro">CONTINUAR</a>
               
            </div>
        </div>

    </div>
</form>