<form>
    <div container-fluid>
        <div class="row">
            <div class="col-sm-6">
                <img src="/public/assets/baixa.png" />
            </div>
            <div class="col-sm-6">
                <h2>FASE 5</h2>
                <h3>Metas e Objetivos Funcionais</h3>
                <a href="<%- root %>/pergunta9" class="btn btn-primary button button-primary button-neutro">CONTINUAR</a>
               
            </div>
        </div>

    </div>
</form>