<form>
    <div container-fluid>
        <div class="row">
            <div class="col-sm-6">
                <img src="/public/assets/baixa.png" />
            </div>
            <div class="col-sm-6">
                <h2>Selecione a dificuldade da pergunta</h2>
                <a href="<%- root %>/pergunta" class="btn btn-primary button button-primary ajustestLateral">FÁCIL</a>
                <a href="<%- root %>/pergunta"
                    class="btn btn-primary button button-primary button-amarelo ajustestLateral">MÉDIO</a>
                <a href="<%- root %>/pergunta" class="btn btn-primary button button-primary button-vermelho">DIFÍCIL</a>
            </div>
        </div>

    </div>
</form>