<form>
    <div container-fluid>
            <div class="row">
                 <div class="col-sm-6">
                    <img src="/public/assets/baixa.png"/>
                 </div>
                 <div class="col-sm-6">
                    <h1>INSTRUÇÕES DO JOGO</h1>
                    <p> Jogo em formato de quiz, inspirado no famoso genio quiz. <br>
                        Constitui em 2 perguntas por fase, em que cada fase faz referência a uma etapa de marketing estratégico.<br>
                        Para vencer você deverá chegar a ultima questão sem errar! <br> 
                        <br>
                        BOA SORTE!!!
                    </p>
                 </div>
            </div>
     </div>
        <div class="ajustes">
            <a href="<%- root %>/fase " class="btn btn-primary button button-primary button-neutro">JOGAR</a>
        </div>
        <!-- <div class="ajustes">
            <a href="<%- root %>/criar-pergunta " class="btn btn-primary button button-primary button-neutro ajustes3">CRIAR PERGUNTA</a>
        </div> -->
 </form>
      
        
 