
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p>
                      7)	Sobre estratégia corporativa:
                  </p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Não servem para determinar a natureza e a futura direção de cada unidade de negócio.</a>
                        
                  </p>
        <p> <a href="<%- root%>/pergunta8" class = "btn btn-primary button button-primary button-neutro"> Todas as organizações precisam de uma, e a fim de realizar a missão da organização e alcançar as metas e objetivos desejados.</a>

        </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro">	São muito utilizadas para determinar, apenas, a coordenação das áreas de negócios funcionais.</a>
                        
        </p>
                  
              </div>
          </div>
      </div>
  </form>

 