
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> 11)	Por que as organizações projetam estratégias funcionais? 
                  </p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Porque querem armazenar as informações dos pontos fracos de sua organização.</a>
                        
                  </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Para coletar informações importantes e então divulgá-las a seu público, tentando assim, aumentar a confiabilidade dos clientes a sua organização.</a>
                        
        </p>
        <p> <a href="<%- root%>/pergunta12" class = "btn btn-primary button button-primary button-neutro"> Para proporcionar uma integração total de esforços que se concentram em alcançar objetivos declarados da área.</a>

        </p>
                  
              </div>
          </div>
      </div>
  </form>

 