
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> 14) O mercado externo é formado por: 
                  </p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Clientes, funcionários, executivos, investidores.</a> 
                        
                  </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro">	Funcionários, gerentes, executivos.</a> 
                        
        </p>
        <p> <a href="<%- root %>/fase8 " class = "btn btn-primary button button-primary button-neutro"> Clientes, fornecedores, investidores, potenciais funcionários, a sociedade em geral. </a>

        </p>
                  
              </div>
          </div>
      </div>
  </form>

 