<form>
  <div container-fluid>
    <div class="row">
      <div class="col-sm-6">
        <img src="/public/assets/baixa.png" />
      </div>
      <div class="col-sm-6 perguntas">
        <h1>PERGUNTA</h1>
        <p> 1)	Qual seria uma boa definição de análise da situação?
        </p>
        <h1>ALTERNATIVAS</h1>
        <p><a href="<%- root %>/gameover " class = "btn btn-primary button button-primary button-neutro"> Serve para explicar como a organização irá atingir os objetivos e metas.</a>
</p>
        
        <p> <a href="<%- root%>/pergunta2" class = "btn btn-primary button button-primary button-neutro"> Processo de planejamento começa com uma análise profunda dos ambientes internos e externos da organização.</a>

        </p>
        <p> <a href="<%- root %>/gameover" class = "btn btn-primary button button-primary button-neutro">	Análise da situação tem foco, apenas, nos pontos fracos.</a>

        </p>
      </div>
    </div>
  </div>
</form>