
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> 9)	Por que é importante que todos os objetivos funcionais sejam revistos?
                  </p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Não precisam ser revistos, basta estabelecer um bom objetivo funcional.</a> 
                        
                  </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> É importante para manter coerência, porém essa mudança não deve ser realizada a cada período de planejamento. </a>
                        
        </p>
        <p> <a href="<%- root%>/pergunta10" class = "btn btn-primary button button-primary button-neutro">  Para manter coerência com a próxima edição do plano de área funcional.</a>

        </p>
                  
              </div>
          </div>
      </div>
  </form>

 