
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> 12)	“O processo foca na seleção de um ou mais mercados-alvo e no desenvolvimento de um programa de marketing que satisfaça necessidades e desejo dos membros desse mercado-alvo”. Escolha a estratégia correta:
                  </p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Estratégia de Recursos Humanos</a>
                        
                  </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro">	Estratégia de Mercado-alvo</a>
                        
        </p>
        <p> <a href="<%- root %>/fase7 " class = "btn btn-primary button button-primary button-neutro">	Estratégia de Marketing.</a>

        </p>
                  
              </div>
          </div>
      </div>
  </form>

 