
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> 6)	O que deve ser compartilhado publicamente?
                  </p>
                  <h1>ALTERNATIVAS</h1>
                    <p> <a href="<%- root %>/fase4 " class = "btn btn-primary button button-primary button-neutro"> A declaração de missão, pois deve dizer o que a empresa representa e porque de sua existência a todos (clientes, funcionários, concorrentes...)</a>

        </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Metas, objetivos, estratégias e táticas, dessa forma facilitará para desenvolver mais confiança com o público-alvo e os funcionários. </a>
                        
        </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro">	Apenas táticas e orçamento, para transmitir transparência com o público.</a>
                        
        </p>
                  
              </div>
          </div>
      </div>
  </form>

 