
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> 18)	Porque fazer um plano de marketing?</p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Porque o Marcio falou ser bom.</a> </p> 
                  

        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Chegou até aqui, então tome a vitória, é a de baixo</a> 
                        
        </p>
        <p> <a href="<%-root%>/venceu" class = "btn btn-primary button button-primary button-neutro"> Para elevar a consciência da marca e sua autoridade junto ao mercado</a> 
                        
        </p>
                  
              </div>
          </div>
      </div>
  </form>

 