
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p>  5)	Diferença entre Missão Organizacional e Visão Organizacional
                  </p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Missão organizacional --> procura responder à pergunta “O que queremos ser?”
                    <br>Visão organizacional --> procura responder à pergunta “Em que negócio estamos?”</br> </a>
                  </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Missão organizacional --> procura exemplificar seus objetivos no mercado.
            <br>Visão organizacional --> procura responder à pergunta “O que queremos ser?”.</br> </a>
            
        </p>
        <p> <a href="<%- root%>/pergunta6" class = "btn btn-primary button button-primary button-neutro"> Missão organizacional --> É uma declaração clara e concisa que explica a razão da própria existência da organização.
            <br>Visão organizacional --> Tende a ser orientada para o futuro, uma vez que representa o caminho para o qual a organização está indo e quer alcançar.</br>
            </a>
        </p>
                  
              </div>
          </div>
      </div>
  </form>

 