
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> 10)	Marketing e todas as outras funções de negócios devem dar apoio à missão e às metas da organização?
                  </p>
                  <h1>ALTERNATIVAS</h1>
                    <p> <a href="<%- root %>/fase6 " class = "btn btn-primary button button-primary button-neutro">	Sim, porque sozinhas – tanto a missão, quanto as metas – não conseguiram se concretizar sem seu apoio.</a>

        </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro">	Não, a existência de uma missão já é o suficiente. As demais funções de negócios não devem apoiar a missão.</a>
                        
        </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro">	Para a empresa crescer, as missões e metas só precisam do apoio do marketing, enquanto as demais funções de negócio não precisam dar apoio nenhum a elas e apenas focarem em outros pontos. </a> 
                        
        </p>
                  
              </div>
          </div>
      </div>
  </form>

 