
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> 3) Qual destes NÃO faz referência ao macro ambiente?
                  </p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Cultura</br>
                    </a>
                        
                  </p>
                  <p> <a href="<%- root%>/pergunta4" class = "btn btn-primary button button-primary button-neutro">	Funcionários 
                    </a>
        
                </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Política</a> 
                        
        </p>
                  
              </div>
          </div>
      </div>
  </form>

 