
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> 15)	Qual a chave para coordenação entre as áreas funcionais? </p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="<%- root%>/pergunta15" class = "btn btn-primary button button-primary button-neutro">	Garantir que as áreas funcionais mantenham linhas de comunicação abertas em todos os momentos. </a>
        
                </p>
                <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro">	Garantir que as áreas funcionais mantenham linhas de comunicação abertas, apenas, em um momento específico de avaliação, E depois mantenha-se fechado.</a> 
                        
                </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro">	É necessário garantir o controle para que as linhas de comunicações fiquem sempre fechadas. </a>
                        
        </p>
                  
              </div>
          </div>
      </div>
  </form>

 