
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> 13)	Sobre implantação: 
                  </p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Todos os planos funcionais tem apenas um mercado-alvo.</a>
                        
                  </p>
        <p> <a href="<%- root%>/pergunta14" class = "btn btn-primary button button-primary button-neutro"> Envolve atividades que de fato executam a estratégia de área funcional. </a>

        </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro">	Mantem atividades planejadas na mira em relação a metas e objetivos.</a>
                        
        </p>
                  
              </div>
          </div>
      </div>
  </form>

 