
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> 17)  Qual é uma boa estrutura para o plano de marketing?</p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Abrangente --> quanto mais informação e detalhamento, melhor. Um plano de marketing longo garante qualidade;

                    <br>Flexível --> opcional, podendo ser sacrificado, já que pode interferir na abrangência;</br>
                    
                    <br>Consistente --> mantê-la garante que executivos e funcionários fora do marketing entenderão o plano de marketing e o processo de planejamento;</br>
                    
                    <br>Lógico --> como o plano de marketing deve, em última análise, vender-se a gestores de topo.</br> </a>    
                  </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Abrangente --> garante que não existam omissões de informações importantes;

            <br>Flexível --> Usar um esquema rígido pode ser favorável a uma organização com poucas mudanças;</br>
            
            <br>Consistente --> mantê-la garante que executivos e funcionários fora do marketing entenderão o plano de marketing e o processo de planejamento;</br>
            
            <br>Lógico --> como o plano de marketing deve, em última análise, vender-se a gestores de topo.</br></a> 
                        
        </p>
        <p> <a href="<%- root%>/pergunta18" class = "btn btn-primary button button-primary button-neutro"> Abrangente --> garante que não existam omissões de informações importantes;
            <br>Flexível --> o suficiente para ser modificado, a fim de atender às necessidades exclusivas de sua situação;</br>
            <br>Consistente --> incluir a ligação do esquema do plano de marketing com o processo de planejamento utilizado nos níveis corporativos ou das unidades de negócios;</br>
            <br>Lógico --> como o plano de marketing deve, em última análise, vender-se a gestores de topo.</br></a>

        </p>
                  
              </div>
          </div>
      </div>
  </form>

 