
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> Consideração importante para uma empresa determinar sua estratégia corporativa: </p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Financiamento</a>
                        
                  </p>
                    <p> <a href="<%- root %>/fase5 " class = "btn btn-primary button button-primary button-neutro">	Capacidades.</a>

        </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro">	Competidores .</a>
                        
        </p>
                  
              </div>
          </div>
      </div>
  </form>

 