
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p>16)	Quando é extremamente importante manter o foco no cliente?</p>
                  <h1>ALTERNATIVAS</h1>
                    <p> <a href="<%- root %>/fase9 " class = "btn btn-primary button button-primary button-neutro"> Durante todo o processo de planejamento estratégico, mas especialmente durante as fases de Implantação, e Avaliação e Controle. </a>

        </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro">	Apenas no momento de avaliação e controle. </a> 
                        
        </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Durante todo o processo de planejamento estratégico, mas especialmente durante as fases de Missão organizacional e Visão organizacional, e Implantação. </a> 
                        
        </p>
                  
              </div>
          </div>
      </div>
  </form>

 