
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> 4) Qual o nível de interferência da empresa com o macro ambiente?
                  </p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="<%-root%>/gameover"class = "btn btn-primary button button-primary button-neutro"> Interfere pouco
                    </a>
                        
                  </p>
                    <p> <a href="<%- root %>/fase3 " class = "btn btn-primary button button-primary button-neutro"> Não interfere</a>

        </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro">	Interfere muito
            </a> 
                        
        </p>
                  
              </div>
          </div>
      </div>
  </form>

 