<form>
    <div container-fluid>
        <div class="row">
            <div class="col-sm-6">
                <img src="/public/assets/baixa.png" />
            </div>
            <div class="col-sm-6">
                <h2>Você venceu!!</h2>
                <h3>Parabéns, agora você pode ser chamado de Deus do marketing!</h3>
                <a href="<%- root %>/" class="btn btn-primary button button-primary button-neutro">Voltar ao menu</a>
               
            </div>
        </div>

    </div>
</form>